<!DOCTYPE html>
<html lang="en">
<head>
    <title>LogIn</title>
    <style>
       h1{
        color: white;
       } 
    </style>
</head>
<body class="body" style="background-color: #4a4a4a">
    <div class="container-fluid" style="height: 95vh;background-color:white">
        <div class="row" style="height: 10%">

            <div class="container" style="background-color: #4a4a4a;border-bottom: 2px">
                <h1>saurabh</h1>
            </div>
        </div>

        <div class="row" style="height: 20%">

        </div>
</html>
